<!doctype html>
<html>
  <head>
    <title>Deploy for America</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Deploy for America</a>
        <ul class="nav">
          <li>
            {% if 'github_token' in session and 'deployer' in session %}
            <a href="{{ url_for('logout') }}">Log Out</a>
            {% else %}
            <a href="{{ url_for('login') }}">Log In</a>
            {% endif %}
          </li>
        </ul>


      </div>
    </div>
    <div class="content">
      {% for message in get_flashed_messages() %}
      <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        
        {{ message }}<br>
        
      </div>
      {% endfor %}
      {% if 'github_token' in session and 'deployer' in session %}

      <p>From here you can deploy a CfA repo to it staging and production site, with one click!</p>
      

      <table class="table applications">
        <tr>
          <th>Application</th>
          <th>Deploy to</th>
          <th>Status</th>
        </tr>
        {% for key, dep in deployables.iteritems() %}
        <tr>
          <td>
            <a href="{{ dep.githubUrl }}" target="_blank" >{{ dep.name }}</a>
          </td>
          <td>
            <div class="btn-group">
              {% for t in  dep.targets %}
              <div class="btn deploy" data-deployable="{{ key }}" data-target="{{ t.name }}">{{ t.name }}</div>
              {% endfor %}
            </div>
          </td>
          <td>      <dl class="list commit" data-deployable="{{ key }}"></dl></td>
          <td>
            
          </td>
        </tr>
        <tr>
          <td colspan="3" class="results" data-deployable="{{ key }}"></td>
        </tr>


        {% endfor %}
      </table>
      {% endif %}
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>
