<!doctype html>
<html>
  <head>
    <title>Deploy for America</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
  <p class="messages">
    {% for message in get_flashed_messages() %}
      {{ message }}
    {% endfor %}
  </p>
    {% if 'github_token' in session and 'deployer' in session %}
    <h1>Apps:</h1>

    <ul>
    {% for key, dep in deployables.iteritems() %}
    <li>
      {{ dep.name }}
      {% for t in  dep.targets %}
          <div class="btn deploy" data-deployable="{{ key }}" data-target="{{ t.name }}">{{ t.name }}</div>
      {% endfor %}
      <div class="result"></div>
      <dl class="list commit" data-deployable="{{ key }}"></dl>

    </li>

    {% endfor %}
    </ul>

    <a href="{{ url_for('logout') }}">Log Out</a>
    {% else %}
    <a href="{{ url_for('login') }}">Log In</a>
    {% endif %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
    <script src="/static/main.js"></script>
  </body>
</html>
